<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nkichev.wooanna.octopusgameteamwork" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GameField"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.InstructionsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.SecondPageInstructionsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.OnPause"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.HighscoresActivity"
            android:label="@string/title_activity_highscores" >
        </activity>

        <activity android:name=".Activities.QuestionActivity"></activity>
        <activity android:name=".Activities.OnGameOverActivity"></activity>
        <service android:name=".GameAudio.BackgroundMusicService" />

    </application>


    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
